body {
    background-color: lightslategray;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: black 1px 1px 1px;
    text-decoration: underline lightgreen;
    font-size: 50px;
}
#horloge {
    border-radius: 50%;
    background-color: lightgreen;
    width: 500px;
    height: 500px;
    border: solid 10px darkcyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contenue {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#centre {
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    z-index: 1;
}
#heure {
    background: darkcyan;
    height: 16%;
    left: 51%;
    position: absolute;
    top: 31%;
    width: 2%;
    transform-origin: bottom left;
    border-radius: 10px;
}
#minute {
    background: black;
    height: 30%;
    left: 50.5%;
    position: absolute;
    top: 19%;
    width: 1%;
    transform-origin: bottom left;
    border-radius: 10px;
}
#seconde {
    background: black;
    height: 30%;
    left: 50%;
    position: absolute;
    top: 19%;
    width: 2px;
    transform-origin: bottom left;
}
